@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazir;
    src: url("/src/assets/fonts/IRANSans/IRANSans_Light.ttf");
}
*{
    font-family: Vazir;
    text-transform: capitalize;
}

input{
    outline: none;
    transition-duration:500ms;
}
input:focus{
    border-bottom: 1px solid teal;
    outline: none;
}